html { 
  background: url(homepage_image.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%;
}

body, .container-table {
  height: 100%;
  background-color: transparent;
}

.container-table {
  display: table;
}

.vertical-center-row {
  display: table-cell;
  vertical-align: middle;
}

.box {
  border-style: solid;
  border-width: 2px;
  border-color: red;
}

.form-box {
  background-color:rgba(243,243,243,0.5);
  padding: 15px 25px 15px 25px;
  -moz-border-radius: 4px 4px 0 0; -webkit-border-radius: 4px 4px 0 0; border-radius: 4px 4px 0 0;
  border-radius: 15px;
}